<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>

<nav>
    <ul>
        {% if admin_true %}
        <li><a href="/view_item">Item Managment</a></li>
        <li class="cart"><a href="/logout">logout</a></li>
        {% endif %}
        {% if user_id %}
        <li><a href="/profile">Home</a></li>
        <li class="cart"><a href="/cart">Cart</a></li>
        <li class=""><a href="/logout">logout</a></li>
        {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register_user">Register</a></li>
        {% endif %}
    </ul>
</nav>

<h1>Login</h1>

<div class="forms">
    <form method="POST">
        <div>
            <label for="username">Username or Email:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>

    if you dont have account register <a href="/register_user">here</a>
</div>

</body>
</html>
