<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {% if admin_true %}
        <li><a href="/view_item">Item Managment</a></li>
        <li class="cart"><a href="/logout">logout</a></li>
        {% elif admin_true == 0 %}
        <li class="cart"><a href="/cart">Cart</a></li>
        <li class="cart"><a href="/logout">logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}


    </ul>
</nav>

<h1>Welcome to Our Store</h1>

<div class="items">
    <!-- Items retrieved from the database -->
    {% for item in items %}
    <div class="item">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <img src="{{ item.image }}" alt="{{ item.name }} Image">
        <p>Price: ${{ item.price }}</p>
    </div>
    {% endfor %}
</div>

</body>
</html>
