<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav>
    <ul>
        
        {% if admin_true %}
        <li><a href="/view_item">Item Managment</a></li>
        <li class="cart"><a href="/logout">logout</a></li>
        {% endif %}
        {% if user_id %}
        <li><a href="/profile">Home</a></li>
        <li class="cart"><a href="/cart">Cart</a></li>
        <li class=""><a href="/logout">logout</a></li>
        {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}


    </ul>
</nav>

<h1>Welcome to Our Store</h1>

<div class="items">
    <!-- Items retrieved from the database -->
    {% for item in items %}
    <div class="item">
        <h2>{{ item.name }}</h2>
        <img src="{{ item.image }}" alt="{{ item.name }} Image">
        
        <p>Price: ${{ item.price }}</p>
        <form action="/add_cart" method="post">
            <input type="text" name="item_id" hidden value="{{ item.item_id }}" id="">
            <input type="submit" class="fa fa-plus" value="cart">
        </form>
    </div>
    {% endfor %}
</div>

</body>
</html>